autopep8==1.6.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==2.0.12
idna==3.7
lxml==4.9.1
pycodestyle==2.8.0
requests==2.32.0
soupsieve==2.3.2
toml==0.10.2
urllib3==1.26.18
